---
import Layout from '@layouts/MainLayout.astro'
import Projects from '@sections/Projects.astro'
import About from '@sections/About.astro'
import Skills from '@sections/Skills.astro'
import Education from '@sections/Education.astro'
---

<Layout title='Portfolio (Juan Ramon Esteban)'>
  <main class='mx-auto max-w-screen-lg px-24 h-screen min-h-screen'>
    <About />
    <Projects />
    <Skills />
    <Education />
  </main>
</Layout>
