---
import Layout from '../layouts/MainLayout.astro'
import SectionProjects from '../components/SectionProjects.astro'
import ProjectCard from '../components/ProjectCard.astro'
---

<Layout title='Portfolio (Juan Ramon Esteban)'>
  <main class='mx-auto max-w-screen-lg px-24 h-screen min-h-screen'>
    <section
      class='flex flex-col items-start text-gray-400 h-screen min-h-screen justify-center'
    >
      <div class='flex flex-col gap-5'>
        <h4 class='animate-slide-up [animation-delay:0.5s]'>
          Hola, mi nombre es
        </h4>
        <h1
          class='pb-4 text-4xl md:text-7xl font-semibold bg-gradient-to-r from-cyan-500 to-teal-500 text-transparent bg-clip-text animate-slide-up [animation-delay:1s]'
        >
          Juan Ramón Esteban
        </h1>
        <h2
          class='text-3xl font-semibold sm:text-5xl bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 text-transparent bg-clip-text animate-slide-up [animation-delay:1.2s]'
        >
          Full Stack Developer
        </h2>
        <p>
          <div
            class='max-w-3xl text-xl animate-slide-up [animation-delay:1.4s]'
          >
            +20 años de experiencias personales y conocimientos profesionales
            muy enriquecedores en diferentes ámbitos: departamentos, escuelas y
            servicios generales y conocedor de las necesidades e inquietudes de
            los diferentes colectivos: Estudiantes, PAS y PDI universitarios.
          </div>
          <div
            class='max-w-3xl text-xl animate-slide-up [animation-delay:1.4s]'
          >
            Con experiencia tanto en la administración de sistemas como en el
            desarrollo de aplicaciones. Me considero una persona resolutiva con
            ganas de aprender y con capacidad de integración.
          </div>
        </p>
      </div>
    </section>
    <SectionProjects />
    <ProjectCard title='Intranet ETSETB' category='Proyecto destacado' < main />

    <style></style>
  </main>
</Layout>
