---

---

<header
  class='text-white fixed w-full h-20 flex items-center backdrop-saturate-150 bg-opacity-70 backdrop-blur-lg top-0'
>
  <div class='max-w-3xl mx-auto'>
    <nav>
      <ul class='flex gap-8'>
        <li>About me</li>
        <li>Projects</li>
        <li>Skills</li>
      </ul>
    </nav>
  </div>
</header>
