<section
  class='flex flex-col items-start text-gray-400 h-screen min-h-screen justify-center'
>
  <div class='flex flex-col gap-5'>
    <h4 class='animate-slide-up [animation-delay:0.5s]'>Hola, mi nombre es</h4>
    <h1
      class='pb-4 text-4xl md:text-7xl font-semibold bg-gradient-to-r from-cyan-500 to-teal-500 text-transparent bg-clip-text animate-slide-up [animation-delay:1s]'
    >
      Juan Ramón Esteban
    </h1>
    <h2
      class='text-3xl font-semibold sm:text-5xl bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 text-transparent bg-clip-text animate-slide-up [animation-delay:1.2s]'
    >
      Full Stack Developer
    </h2>
    <p>
      <div class='max-w-3xl text-xl animate-slide-up [animation-delay:1.4s]'>
        +20 años de experiencia como diseñador y desarrollador de aplicaciones
        informáticas. He liderado y participado en múltiples proyectos complejos
        que incluyen migraciones, integraciones y el despliegue de sistemas
        mediante CI/CD.
      </div>
      <div class='max-w-3xl text-xl animate-slide-up [animation-delay:1.4s]'>
        Aporto soluciones innovadoras y eficientes que optimizan los procesos y
        mejoran la calidad del producto final como puede ser la migración a
        nuevos ecosistemas basados en microservicios, uso de tecnologías
        actuales y mejoras UX/UI.
      </div>
    </p>
  </div>
</section>
