---
import SectionTitle from '../components/SectionTitle.astro'
import ProjectCard from '../components/ProjectCard.astro'
---

<section>
  <SectionTitle name='Proyectos' />

  <ProjectCard title='Intranet ETSETB' category='Proyecto destacado' />
</section>
